@model HairSalon.Models.Stylist
  
@{
  Layout = "_Layout";
}
  <center>
@Html.ActionLink("Home |", "Index", "Home")
@Html.ActionLink("Stylists | ", "Index", "Stylists")
@Html.ActionLink("Clients", "Index", "Clients")

<h1><i>Add</i></h1>
<h1>Stylist</h1>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)<br>
    @Html.TextBoxFor(model => model.Name)<br>
    @Html.LabelFor(model => model.ServicesOffered)<br>
    @Html.TextBoxFor(model => model.ServicesOffered)<br><br>
    <input type="submit" value="Add new Stylist" />
}
<h3>@Html.ActionLink("Show all Stylists", "Index")</h3>
  </center>