@model HairSalon.Models.Client

@{
  Layout = "_Layout";
}

<h1><i>Add</i>
<br>Client</h1>

<center>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)<br>

    @Html.LabelFor(model => model.Service)
    @Html.TextBoxFor(model => model.Service)<br>

    @Html.LabelFor(model => model.Appointment)
    @Html.TextBoxFor(model => model.Appointment)<br>

    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")

    <input type="submit" value="Add new Client" class="btn btn-default" />
}
<h3>@Html.ActionLink("Show all Clients", "Index")</h3>
</center>